################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PruebaCarvajal
/PruebaCarvajal.API/bin/Debug/netcoreapp3.1
/PruebaCarvajal.API/obj
/PruebaCarvajal.APITest/bin/Debug/netcoreapp3.1
/PruebaCarvajal.APITest/obj
/PruebaCarvajal.Domain/bin/Debug/netcoreapp3.1
/PruebaCarvajal.Domain/obj
/PruebaCarvajal.Repository/bin/Debug/netcoreapp3.1
/PruebaCarvajal.Repository/obj
/PruebaCarvajal.Service/bin/Debug/netcoreapp3.1
/PruebaCarvajal.Service/obj
/PruebaCarvajal.UnitTest/obj
