USE [master]
GO
CREATE DATABASE [CarvajalTestDB]
GO
USE [CarvajalTestDB]
GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 26/06/2020 9:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[IdTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[NomTipoDocumento] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[TipoIdentificacion] [int] NULL,
	[NumeroIdentificacion] [varchar](15) NULL,
	[CorreoElectronico] [varchar](200) NOT NULL,
	[Contrasena] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TipoDocumento] ON 
INSERT [dbo].[TipoDocumento] ([IdTipoDocumento], [NomTipoDocumento]) VALUES (1, N'CC')
INSERT [dbo].[TipoDocumento] ([IdTipoDocumento], [NomTipoDocumento]) VALUES (2, N'RC')
INSERT [dbo].[TipoDocumento] ([IdTipoDocumento], [NomTipoDocumento]) VALUES (3, N'TI')
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF

ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([TipoIdentificacion])
REFERENCES [dbo].[TipoDocumento] ([IdTipoDocumento])
GO
USE [master]
GO
